@page "forum/{Id:int}"
@model StuddyBuddy.Pages.User.NewPostModel
@{
    ViewData["Title"] = "New Post";
}

<h1>Create New Post</h1>

<h4>Post</h4>
<hr />
@* <p>Form Id: @Model.Id</p> *@
<p class="text-danger">@Model.Message</p>
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="item_description"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="control-label">Images</label>
                <input id="files" type="file" asp-for="FilesToUpload"
                    oninput="pic.src=window.URL.createObjectURL(this.files[0])" multiple accept="image/*" />
                <span asp-validation-for="FilesToUpload" class="text-danger"></span>
            </div>
            @* preview images *@
            <div id="preview" class="mb-3"></div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../User/Forums">Back to Forums</a>
</div>

@section scripts{
<script type="text/javascript">
    const preview = (file) => {
        document.querySelector('#preview').innerHTML = "";
        const fr = new FileReader();
        fr.onload = () => {
            const img = document.createElement("img");
            img.src = fr.result;  // String Base64 
            img.alt = file.name;
            img.width = 200;
            document.querySelector('#preview').append(img);
        };
        fr.readAsDataURL(file);
    };

    document.querySelector("#files").addEventListener("change", (ev) => {
        if (!ev.target.files) return; // Do nothing.
        [...ev.target.files].forEach(preview);
    });
</script>
}