@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4>Your Place to Learn and Hang Out</h4>
    <a class="navbar-brand" asp-area="" asp-page="/Account/Login"><img src="~/static/images/index.gif" alt="forum"
            style="height: 500px;"></a>
</div>
